version: "3.9"

services:
  app:
    extends:
      file: docker-compose.yml
      service: app
    command: uvicorn app.api.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
